<% content_for :title, @author.name %>

<article class="author">
  <header>
    <h3><%= @author.name %></h3>
  </header>
  <% if @author.image_url.blank? %>
    <div class="no_thumbnail">No Image Available</div>
  <% else %>
   <div class="item_thumbnail"><%= image_tag @author.image_url %></div>
  <% end %>

  <%= @author.biography %>
  </br>
  <h4 style="clear:left">Details</h4>
  <label>Date of Birth:</label> <%= @author.dob %><br />
  <label>Nationality:</label> <%= @author.nationality %><br />
  <% if @author.awards.length > 0 %>
    <label>Awards:</label> <%= @author.awards %>
  <% end %>
  <br />
  
</article>
  <h3>Publications</h3> 
  <table width="100%">
  <% @author.books.each do |book| %>
     <tr>
      <td>
      <% if book.image_cover_url.blank? %>
        <div class="no_thumbnail"> No Image Available </div>
    <% else %>
      <div class="item_thumbnail">
        <%= image_tag book.image_cover_url %>
      </div>
    <% end %>
  </div>
      <br />
        <span class="title"><%= link_to(book.title, book) %></span> by
        <%= @author.name %>
     </td>
   </tr>
  <% end %>
</table>