<% content_for :title, @book.title %>

<article class="book">
  <header>
    <h3><%= @book.title %></h3>
  </header>
  <%= image_tag @book.image_cover_url %>
  <span>
  	<%= @book.abstract %>
  </span>

  <h4>Details</h4>
   <p><label>ISBN:</label> <%= @book.isbn %></p>
  <p><label>Author:</label> <%= @book.author_id %></p>
   <p><label>Genre:</label> <%= @book.genre %></p>
  <p><label>Pages:</label> <%= number_with_delimiter(@book.pages) %></p>
  <p><label>Published On:</label> <%= @book.published_on %></p>
  <p><label>Available to Reserve:</label> [# Reserved] out of <%= @book.total_in_library %></p>
</article>

<%= button_to 'Edit', edit_book_path(@book), :method => :get %>

<%= button_to 'Delete', @book,
               method: :delete,
               data: { confirm: 'Are you sure?' } %>