<h3>My Reservations</h3>


<table width="100%">
    <% @reservations.each do |reservation| %>
      <tr>
        <td>
        	<div class="book_thumbnail">
			    <% if reservation.book.image_cover_url.length > 0 or reservation.book.image_cover_url.blank? %>
			      <%= image_tag reservation.book.image_cover_url %>
			    <% else %>
			      <span class="book_no_thumbnail"> No Image Available </span>
			  <% end %>
			</div>
          <br />
          <span class="title"><%= link_to(reservation.book.title, reservation.book) %></span>
          by <%= link_to reservation.book.author.name, author_path(reservation.book.author_id) %>
          <br /><br />
          <strong>Reserved on:</strong> <%= reservation.reserved_on.strftime("%m/%d/%Y") %><br />
          <strong>Due on: </strong><%= reservation.due_on.strftime("%m/%d/%Y") %>
          <br /><br />
          <%= button_to "Return Book", reservation,
            method: :delete,
            data: {confirm: 'Are you sure?'},
            class: "btn btn-primary" %>          
        </td>
      </tr>
    <% end %>
</table>
<hr />
<p>Displaying <%= pluralize(@reservations.size, "reservation") %></p>