<h3>Overdue Books</h3>

<% @reservations.each do |reservation| %>
     <% if reservation.book.image_cover_url.blank? %>
      <div class="no_thumbnail"> No Image Available </div>
    <% else %>
      <div class="item_thumbnail"><%= image_tag reservation.book.image_cover_url %></div>
  <% end %> 
  
 <span class="title"><%= link_to(reservation.book.title, reservation.book) %></span>
    by <%= link_to reservation.book.author.name, author_path(reservation.book.author_id) %>
 <br /><br />
 <strong>Reserved by:</strong> <%= reservation.user.name %><br />
 <strong>Reserved on:</strong> <%= reservation.reserved_on.strftime("%m/%d/%Y") %><br />
 <strong>Due on: </strong><%= reservation.due_on.strftime("%m/%d/%Y") %><br />
 <span class="bg-info">Overdue</span>
<% end %>

<p>Displaying <%= pluralize(@reservations.size, "overdue book") %></p>
